.body {
  margin: 0;
  background-color: $black;
  font-family: 'Roboto', sans-serif;
}

.container {
  height: 100vh;
  margin: 0 auto;
  color: $white;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    '. . s s s s s s s s . .'
    '. . . w w w w w w . . .'
    '. . . f f f f f f . . .'
    '. . . l l l l l l . . .';
    justify-items: center;
  @include mobileS{
    grid-template-areas:
    's s s s s s s s s s s s'
    'w w w w w w w w w w w w'
    'f f f f f f f f f f f f'
    'l l l l l l l l l l l l';
  }
  @include mobile {
    grid-template-areas:
    '. s s s s s s s s s s .'
    '. w w w w w w w w w w .'
    '. f f f f f f f f f f .'
    '. l l l l l l l l l l .';
  }
  @include tablet {
    grid-template-areas:
    '. . s s s s s s s s . .'
    '. . w w w w w w w w . .'
    '. . f f f f f f f f . .'
    '. . l l l l l l l l . .';
  }
}

.container > div:nth-child(1) {
  grid-area: s;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  @include mobileS{
    width: 95%;
  }
  @include mobile{
    width: 100%;
  }
  @include tablet{
    width: 90%;
  }
}

.container > div:nth-child(2) {
  grid-area: w;
  width: 100%;
  background-color: $grey;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: $white;
}

.container > div:nth-child(3) {
  grid-area: f;
  margin-bottom: 10px;
  width: 100%;
  border-top: 1px solid $white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: $grey;
}

.container > div:nth-child(4) {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  min-width: 100%;
  min-height: 100%;
  background-color: transparent;
}

.container > div:nth-child(5){
  grid-area: l;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  background-color: $grey;
}

.weather-list{
  width: calc(50% - 10px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid $white;
  border-radius: 20px;
}

.favorites-list{
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 0px;
}

.list-title{
  width: 100%;
  margin: 0;
  font-weight: 400;
  text-align: center;
  border-bottom: 1px solid $white;
}

.history-list,
.favorites-list{
  width: 100%;
  height: 100%;
  text-align: center;
}

.history-list > div,
.favorites-list > div{
  width: 100%;
  height: 100%;
  text-align: center;
}

.history-city,
.favorites-city {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100% / 6);
  margin: 0;
  vertical-align: middle;
  text-transform: uppercase;
  border-radius: 0 0 20px 20px;
}

.history-city{
  border-radius: 0;
}

.history-city:hover,
.favorites-city:hover {
  cursor: pointer;
  color: $yellow;
}

.history-city:nth-child(even),
.favorites-city:nth-child(even){
  background-color: $grey;
}

.history-city:last-child{
  border-radius: 0 0 20px 20px;
}

/*searchbar*/
.searchbar-container {
  grid-area: s;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form {
  width: calc(100% - 5px);
  position: relative;
}

.searchbar {
  width: inherit;
  height: 40px;
  padding-left: 0.5rem;
  border: none;
  border-radius: 75px;
  background-color: darken($grey, 10%);
  color: inherit;
  font-size: 1.5rem;
  font-weight: 400;
  outline: none;
  @include desktopL{
    font-size: 2rem;
    height: 60px;
  }
}

.searchbar::placeholder{
  color: $white;
}

.search-button{
  position: absolute;
  right: -4px;
  top: 0;
  height: 100%;
  width: 40px;
  border: none;
  border-radius: 50%;
  background-color: $grey;
  background-image: url('/img/search.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75%;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  transition: 0.3s linear;
  @include desktopL{
    width: 60px;
  }
}

.search-button:hover{
  background-color: $greyDark;
}

/*main weather*/
.main-container {
  grid-area: w;
  width: 100%;
  background-color: $grey;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: $white;
}

.weather-subinfo{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.subinfo-item{
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 5px;
  @include mobileS{
    font-size: 1rem;
  }
  @include mobile{
    font-size: 1.2rem;
  }
  @include tablet{
    font-size: 1.5rem;
  }
}

.day{
  text-transform: uppercase;
  font-weight: 700;
}

.date{
  margin-bottom: 30px;
}

.weather-maininfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $white;
}

.maininfo-item{
  margin-bottom: 5px;
}

.city{
  font-size: 2rem;
  display: flex;
  align-items: center;
  @include mobileS{
    font-size: 1rem;
  }
  @include mobile{
    font-size: 1.3rem;
  }
  @include tablet{
    font-size: 1.5rem;
  }
}

.favorite{
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 10px;
  background-color: transparent;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  position: relative;
  display: block;
}

.checkbox-favorite:checked + .like{
  background-image: url('/img/liked.svg');
}

.checkbox-favorite:active + .like{
  transition: transform 0.3s linear;
  transform: scale(0.8);
}

.like{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: $white;
  background-image: url('/img/like.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  transform: scale(1);
}

.swap{
  text-transform: uppercase;
  text-align: center;
  width: 2.2rem;
  height: 2.2rem;
  margin-left: 10px;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  color: $white;
  font-weight: 700;
  transition: 0.3s linear;
  background-color: $grey;
  position: relative;
  @include mobileS{
    width: 2rem;
    height: 2rem;
    margin-left: 5px;
  }
}

.swap:hover{
  background-color: $greyDark;
}

.checkbox{
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.checkbox-units:hover + .units{
  box-shadow: 0 0 1px 2px $yellow;
}

.units{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  font-size: 1.7rem;
  color: $white;
  @include mobileS{
    font-size: 1.5rem;
  }
}

.image-wrapper{
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-weather{
  font-size: 2.2rem;
  font-weight: 300;
}

.weather-descr{
  font-size: 1.2rem;
}

.extra-descr{
  font-size: 0.75rem;
}


/*forecast*/
.forecast-container {
  grid-area: f;
  margin-bottom: 50px;
  width: 100%;
  border-top: 1px solid $white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: $grey;
}

.forecast-list{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  color: $white;
}

// .forecast-item
.forecast-list > li {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s linear;
}

// .forecast-item:hover
.forecast-list > li:hover{
  background-color: darken($grey, 20%);
}

.forecast-item:hover{
  background-color: darken($grey, 20%);
}

.forecast-day{
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.forecast-temp{
  font-size: 1.4rem;
  font-weight: 400;
}

.forecast-img-wrapper{
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
}

/*video*/
.video-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  min-width: 100%;
  min-height: 100%;
  background-color: transparent;
}

.video{
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.typewriter{
  overflow: hidden;
  font-size: 1.7rem;
  border-right: .15rem solid $yellow;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15rem;
  animation:
    blink-caret .75s step-end infinite;
  @include mobileS{
    font-size: 0.9rem;
  }
  @include mobile{
    font-size: 1.1rem;
  }
  @include desktopL{
    font-size: 2.5rem;
    border-width: 0.3rem;
  }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: $yellow; }
}
